<div class="container">
  <h1 class="card-title">Add BlogPost</h1>

  <form>
    <div class="mb-3">
      <label for="id" class="form-label">ID</label>
      <input type="text" class="form-control" id="id" name="id" />
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" id="content" name="content"></textarea>
    </div>
    <div class="mb-3">
      <label for="urlHandle" class="form-label">URL Handle</label>
      <input type="text" class="form-control" id="urlHandle" name="urlHandle" />
    </div>
    <div class="mb-3">
      <label for="featureImgUrl" class="form-label">Feature Image URL</label>
      <input
        type="text"
        class="form-control"
        id="featureImgUrl"
        name="featureImgUrl"
      />
    </div>
    <div class="mb-3">
      <label for="createdDate" class="form-label">Created Date</label>
      <input
        type="date"
        class="form-control"
        id="createdDate"
        name="createdDate"
      />
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" name="author" />
    </div>
    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        id="isVisible"
        name="isVisible"
      />
      <label class="form-check-label" for="isVisible"> Is Visible </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
